body {
    background: #fff;
    color: #333;
    font-size: 13px;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    height: 100%;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.fl {
    float: left;
}

.gray {
    color: #999;
}

.red {
    color: #c00;
}
.cursor-pointer {
    cursor: pointer;
}